<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name = "viewport" content="width-device-width, initial scale=1.0">
            <title>Currency Guard</title>
            

            <script src="https://kit.fontawesome.com/3ce60671c2.js" crossorigin="anonymous"></script>
            <!--
            <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
            -->
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Cuprum&family=Space+Mono&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="resources/css/style.css">
        </head>
        <body>
            <header>
                <img src="resources/images/logo.jpg" alt="website logo" class="website-logo">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="index.html" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="index.html" class="login_btn">Login</a></li>
                    </ul>     
                </nav>
            </header>
            <!-- Intro and About -->
            <section class="flex__container">
                <section class="About" id="about">
                    <h1 class="section__title section__title--about">
                        YOUR CURRENCY FRIEND    
                    </h1>
                    <h2 class="section__subtitle section__subtitle--about">
                        Keep your Investment Safe in Your Hands   
                    </h2>
                    <div class="section__paragraph section_paragraph--about">
                        <p>With Inflation and currency instability at an all time high,
                            Currency Guard is here to Help. Ensure you are always on 
                            track and your savings hold their value with currency guard.</p>
                        <p>Currency Guard is a service that helps you keep track of your
                            currencies. Simply choose the currency you would like to track and
                            recieve an email daily with your currency's live value. Your investments
                            are always safe with Currency Guard.
                        </p>
                    </div>
                    <div class="signup">
                        <a href="index.html" class="signup_btn">Sign Up</a>
                    </div>
                </section>
                <!-- Image Section -->
                <section class="Image" id="image">
                    <img src="resources/images/piggycoinimage.jpg" alt="piggy coin image" class="piggy-coin">
                </section>
            </section>   
            <!-- Footer -->
            <footer class="footer">
                <div class="footer_col1">
                    <h3><strong>Designed and Developed by Mazen Youssef and Aansh Kotian</strong></h3>
                </div>
                <div class="footer_col2">
                    <ul class="social-list_mazen">
                        <h3>Mazen</h3>
                        <a class="social-list_link" href="https://www.linkedin.com/in/mazen-youssef-b68935164/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </ul>
                    <ul class="social-list_aansh">
                        <h3>Aansh</h3>
                        <a class="social-list_link" href="https://www.linkedin.com/in/mazen-youssef-b68935164/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </ul>
                </div>
                
            </footer>
        </body>