<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles-login.css">
    </head>
    <body>
        {% block content %}
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <header>
            <img src="../static/images/logo.JPG" alt="website logo" class="website-logo">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link">About</a></li>
            </nav>
        </header>


        <form method="POST">

            <h1>Login</h1>
            
            <div  class = "form-group">
                <label for="email">Email Address</label>
                <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email">
            </div>
            <!-- what the "name" will do for us is it is what the attribute will be called when we pass the information in this field to our backend, when we submit this form its going to bundle up all the information in here and its going to use the name of these fields to represent them when it sends the information to the backend  -->
            
            <div class = "form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Enter Password">
            </div>

            <button type="submit" class ="btn btn-primary">Login</button>

            <a href="sign-up">Don't have an account? Create one here!</a>
        </form>


    {% endblock %}
    </body>
</html>